body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    position: relative;
    input.right-input {
        &:checked {
            ~ label.left-label::after{
                z-index: 2;
                width: 248px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: #12CBC4;
            }
            ~ .circle {
                left: 120.5px;
                background-color: #1289A7;
            }
        }
    }

    label.left-label, label.right-label {
        position: relative;
        &::after {
            content: "";
            cursor: pointer;
            position: absolute;
            width: 125px;
            height: 100px;
            border: 2px solid #333;
            background-color: #95a5a6;
            transform: translate(-80px, -40px);
        }
    }

    label.left-label {
        margin-right: 102.64px;
        &::after {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-right: none;
        }
    }

    label.right-label {
        &::after {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-left: none;
        }
    }

    .circle {
        z-index: 3;
        cursor: pointer;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: -38px;
        left: -29px;
        background-color: #34495e;
        transition: 0.4s;
    }
}